.frequent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #004d40;
    text-align: center;
    color: #fff;
  }
  
  .h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 3%;
  }
  
  .containerfrequent {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #f8a000;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #292929;
    text-align: left;
  }
  
  .card h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .card p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 32px;
  }
  
  .card ul li {
    color: #3d3d3d;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .card button {
    background-color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #ffffff;
      color: #000;
    }
  }
  
  @media (max-width: 768px) {

    .h1{
      margin-bottom: 15%;
    }

    .card{
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
    .cards {
      display: none;
    }
  
    .carousel .slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .carousel .slide .card {
      margin: 0 auto;
    }
  }
