/* Estilo global para a página */
.container {
    padding: 20px;
    background-color: #191C2F;
    /* Cor de fundo escura */
    color: #fff;
    min-height: 65vh;
    /* Garante que o container ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza o conteúdo verticalmente */
    align-items: center;
    /* Centraliza o conteúdo horizontalmente */
}

.title {
    color: #f8a000;
    /* Cor destacada para o título */
    margin-bottom: 30px;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

/* Estilo do formulário */
.form {
    width: 100%;
    max-width: 500px;
    /* Limita a largura do formulário */
    background-color: #042c25;
    /* Fundo escuro para o formulário */
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f5c400;
    /* Cor dos rótulos */
}

.input {
    width: 100%;
    padding: 10px;
    background-color: #191C2F;
    /* Fundo dos inputs */
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

.input:focus {
    outline: none;
    border-color: #126856;
    /* Cor da borda quando o input está focado */
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #00474B;
    /* Cor de fundo do botão */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #003d40;
    /* Cor de fundo do botão ao passar o mouse */
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form {
        padding: 15px;
    }

    .button {
        font-size: 16px;
        padding: 8px;
    }
}