.container {
    padding: 20px;
    background-color: var(--background2);
    color: #fff;
    min-height: 65vh;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #f8a000;
}


.tableContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.searchBar {
    display: block;
    width: 100%;
    max-width: 30%;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;

    &:focus {
        border-color: #66afe9;
        outline: none;
    }
}

.table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: #042c25;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;

    &Header,
    &Cell {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    &Header {
        background-color: #126856;
        color: #f5c400;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    &Row {

        &:hover {
            background-color: #013b2f;
        }
    }

    &Cell {
        color: #f5c400;
    }
}

@media (max-width: 768px) {
    .table {
        width: 100%;
    }

    .searchBar {
        max-width: 85%;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: #151717; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff; 
  }
  
  .modalContent h3 {
    margin-bottom: 20px;
  }
  
  .modalContent button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modalContent button:hover {
    background-color: darkred; 
  }
  
  .modalContent button:last-child {
    background-color: #383C3E; 
    color: #fff;
  }
  
  .modalContent button:last-child:hover {
    background-color: #2b2e30; 
  }
  